.card {
  transition: transform 0.5s;
  color: var(--bs-gray-500);
  &:hover {
    transform: scale(1.03);
  }
  *:not(button) {
    cursor: default;
  }

  .secondary-info {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }

  .btn-more {
    button {
      border: 1px solid var(--violet) !important;
      color: var(--violet) !important;

      &:hover {
        color: white !important;
        border: 1px solid var(--bs-blue) !important;
      }
    }
  }
}
