.card {
  width: 90%;
  height: max-content;
  color: var(--bs-gray-500);

  img {
    max-width: 130px;
    max-height: 198px;
  }

  *:not(button) {
    cursor: default;
  }

  .descr-heading {
    background: #eeeeee;
    background: linear-gradient(to right, var(--bs-blue) 0%, var(--violet) 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .c-width {
    width: 50%;

    @media screen and (min-width: 768px) {
      width: 25%;
    }
  }
}
