.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 5%;
  right: 2%;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 1px solid var(--bs-gray-700);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;

  svg {
    fill: var(--violet);
  }

  &:hover {
    background-color: var(--bs-gray-800);
  }
}
