.back-to-top,
.back-to-bottom {
  position: fixed;
  right: 0;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 1px solid var(--bs-gray-700);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  svg {
    fill: var(--violet);
  }

  &:hover {
    background-color: var(--bs-gray-800);
  }

  @media screen and (max-width: 576px) {
    height: 48px;
    width: 48px;
  }
}

.back-to-top {
  bottom: 9%;
}

.back-to-bottom {
  bottom: 20%;

  @media screen and (max-width: 576px) {
    bottom: 18%;
  }
}

.books-container {
  button.clear-btn {
    width: 40%;
    color: var(--violet);
    border: 1px solid var(--violet);

    &:hover,
    &:active {
      color: white;
      background-color: var(--violet);
    }

    @media screen and (min-width: 768px) {
      width: 30%;
    }
  }
  button:not(.clear-btn) {
    .spinner {
      width: 20px;
      height: 20px;
    }
    .spinner::after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 3px solid var(--bs-dark);
      border-color: #fff transparent #fff transparent;
      animation: rotate 1s linear infinite;
    }

    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}

app-card {
  height: 230px;
}

.form-disabled {
  pointer-events: none;
}

.project-info {
  cursor: default;
  h1 {
    background: #eeeeee;
    background: linear-gradient(to right, var(--violet) 0%, var(--bs-blue) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    border-left: 5px solid var(--bs-blue);
  }

  .text-parag {
    color: var(--bs-gray-500);

    .code-tag {
      background-color: var(--bs-gray-700);
      color: var(--bs-gray-400);
    }
  }
}
