@import "bootstrap/scss/bootstrap";

:root {
  --violet: #7c48e3;
}

body {
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--violet);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background: var(--bs-dark);
    border-radius: 10px;
  }
}
